* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

.navigation {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.login {
  width: 50%;
  margin: auto;
}

.home {
  border-bottom: none;
}

a {
  color: white;
}

h5 {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 5rem;
  text-align: center;
  color: #ffffff;
}

.flexbox {
  display: flex;
}

.second {
  display: none;
}

.about {
  margin-top: 8rem;
}

.green {
  color: #288755;
  text-decoration: none;
  font-weight: bold;
}

.farmer-image {
  margin-top: 10rem;
  text-align: center;
}

.first-line::first-line {
  color: #288755;
}

.link {
  text-decoration: none;
}

button {
  background-color: #288755;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  border: none;
}

.container {
  background-color: #f2fbf8;
}

.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.faint-green {
  background-color: #dbf8ea;
  color: #288755;
}

.down {
  margin-top: 3rem;
}

footer {
  background-color: #07321b;
}

footer a {
  text-decoration: none;
}

.cards {
  margin: 2rem 0;
  box-shadow: 0 0 10px 0 gainsboro;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
}

.carousel-card {
  display: none;
}
@media (min-width: 576px) {
  h5 {
    display: block;
  }

  .navigation {
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .home {
    border-bottom: 4px solid #288755;
  }

  .second {
    display: block;
    line-height: 2rem;
  }

  .first {
    display: none;
  }

  .old-lace {
    background-color: #fdf5e6;
  }

  .green-color {
    color: #07321b;
    font-weight: bold;
    text-decoration: none;
  }

  .logo-image {
    padding-top: 8rem;
  }

  .contain {
    background-color: #f2fbf8;
  }

  .link-2 {
    color: black;
  }

  .text-1 {
    padding-left: 5rem;
  }

  .top {
    margin-top: 3rem;
  }

  .text-top {
    margin-top: 3rem;
  }

  .flex-2 {
    display: flex;
    justify-content: space-evenly;
  }

  .faint-green-2 {
    background-color: #dbf8ea;
    color: #288755;
  }

  .cash-transfer {
    margin-top: 6rem;
  }

  .cash-transfers {
    margin-top: 7rem;
  }

  .carousel-card {
    display: block;
  }

  .container {
    display: none;
  }
}
